# MongoDB configuration
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/?appName=BiohubCluster
MONGODB_DB_NAME=biohub_db

# Kafka configuration
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=registros-biologicos
USE_MOCK_KAFKA=true

# Redis configuration (optional — will fallback to in-memory if not available)
REDIS_URL=redis://localhost:6379

# Environment
ENV=development
